* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%; 
    font-family: arial;
}

body {
 background-color: #fff;
 margin: 5px;
 font-family: Arial;
 font-size: 13px;
 color: #000;
}

/* ---------------- Common -------------------*/  
#obullo_profiler {
  clear: both;
  background-color: #fff;
  padding: 10px;
}

#obullo_profiler h1 {
 color: #808080;
 background-color: transparent;
 border-bottom: 1px solid #D0D0D0;
 font-size: 20px;
 font-weight: bold;
 margin: 24px 0 12px 0;
 padding: 5px 0 6px 0;
}

#obullo_profiler table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

#obullo_profiler table th {
 font-weight: bold;
 text-align: left;
 padding-top: 5px;
 padding-bottom: 5px;
 border-top: 1px solid #ccc;
}
 
#obullo_profiler table .td {
 border: 1px solid #ccc; 
 font-weight: normal;
 padding: 5px;
}

#obullo_profiler table .td_val {
 border: 1px solid #ccc; 
 font-weight: normal;
 padding: 5px;
}
 
/* ---------------- Benchmark -------------------*/
#benchmark table th {
 background-color: #fff;
 font-size: 14px;
 color: #666666; 
}

#benchmark table .td {
 background-color: #EFEFEF;
 font-size: 14px;
 color: brown;
}

#benchmark table .td_val {
 background-color: #EFEFEF;
 font-size: 14px;
 color: blue;
}

/* ---------------- Queries -------------------*/
#queries table th {
 background-color: #fff;
 font-size: 14px;
 color: #666666; 
}

#queries table .td {
 background-color: #EFEFEF;
 font-size: 14px; 
 color: brown;
}

#queries table .td_val {
 background-color: #ddd;
 font-size: 14px;   
 font-weight: normal;
 color: #0000FF;
}

/* ---------------- GET -------------------*/
#get table th {
 background-color: #fff;
 font-size: 14px;
 color: #666666; 
}

#get table .td {
 background-color: #EFEFEF;
 font-size: 14px; 
 color: black;
}

#get table .td_val {
 background-color: #EFEFEF;
 font-size: 14px;
 color: green;
}

/* ---------------- POST -------------------*/
#post table th {
 background-color: #fff;
 font-size: 14px;
 color: #666666; 
}

#post table .td {
 background-color: #EFEFEF;
 font-size: 14px; 
 color: black;
}

#post table .td_val {
 background-color: #EFEFEF;
 font-size: 14px;
 color: green;
}

/* ---------------- Uri String -------------------*/
#uri_string table th {
 background-color: #fff;
 font-size: 14px;
 color: #666666; 
}

#uri_string .td {
 background-color: #EFEFEF;
 font-size: 14px; 
 color: black;
}

#uri_string .td_val {
 background-color: #EFEFEF;
 font-size: 14px;
 color: #800080;
}

/* ---------------- Controller Info -------------------*/
#controller_info table th {
 background-color: #fff;
 font-size: 14px;
 color: #666666; 
}

#controller_info table .td {
 background-color: #EFEFEF;
 font-size: 14px; 
 color: black;
}

#controller_info table .td_val {
 background-color: #EFEFEF;
 font-size: 14px;
 color: #000080;
}

/* ---------------- Memory Info -------------------*/
#memory table th {
 background-color: #fff;
 font-size: 14px;
 color: #666666; 
}

#memory table .td {
 background-color: #EFEFEF;
 font-size: 14px; 
 color: black;
}

#memory table .td_val {
 background-color: #EFEFEF;
 font-size: 14px;
 color: green;
}

/* ---------------- Loaded Files -------------------*/
#loaded_files table th {
 background-color: #fff;
 font-size: 14px;
 color: #666666; 
}

#loaded_files table .td {
 background-color: #EFEFEF;
 font-size: 14px;  
 color: brown;
}

#loaded_files table .td_val {
 background-color: #EFEFEF;
 font-size: 14px;
 color: #800080;
}
